<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>


<main>
    <div class = "container">
        <table class = "table-striped">
            <!--insert bootstrap card table/explore page based on user interest-->
        </table>
    </div>
</main>

<% include('../partials/footer') %>