<%- include ('../partials/head') %><%- include ('../partials/menu') %>



<main>
  <div class="container" style="padding-top: 300px; width: 400px">
    <center><h1>EventGO</h1>
    <br>
  </center>

    <div class="col">
      <% - include('../partials/message') %>
      <form action="/login" method="POST" class="form-group">
        <label for="name">Username:</label>
        <input type="text" id="username" name="username" class="form-control" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" style="margin-bottom: 10px;"/>
        
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <p style="margin: 0;">Don't have an account? <a href="/register" style="color: rgb(68, 68, 68); font-weight: bold; text-decoration: none;">Register here</a></p>
          <input type="submit" value="Login" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>