<<<<<<< HEAD
<%- include ('../partials/head') %> 
=======
<%- include ('../partials/header.ejs') %> <%- include ('../partials/menu.ejs') %>
<% include ('../../styles.css') %>

>>>>>>> 74ba14d287588c769396f04dbbfa284fb26eb537
<main>
  <div class="container">
    <form action="/register" method="POST" class = "form-group">
        <label for="name">Username:</label>
        <input type="text" id="username" name="username" class = "form-control"/>
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class = "form-control"/>
      
        <input type="submit" value="Register" class="btn btn-primary" />
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>