<%- include ('../partials/head') %> <%- include ('../partials/menu') %>

<div class="container" style="margin-top:200px">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Carpool Offers</h1>
    <hr/>
    <div class="overflow-auto">
    <div class="row">
      <div class="col-sm" height="200">
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>