

  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EventGO</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/userProfile">Profile</a>
        </li>
      </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/discover">Discover</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>

    <form action="/discover" method="POST" class = "d-flex" role="Search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
  </nav>
  
